<template>

</template>

<script>

export default {
  name: "Banner",
  components: {

  },
  data() {
    return {
      showLoader: true
    };
  },
  methods: {

  },
  mounted() {

  }
};
</script>
