<template>
  <div class="ms_loader">
    <div class="wrap">
      <img src="../assets/loader/loader.gif" alt="" />
    </div>
  </div>
</template>

<script>
export default {
  name: "Loader"
};
</script>
