<style scoped>
@import "./assets/css/bootstrap.css";
@import "./assets/css/fonts.css";
@import "./assets/css/style.css";
</style>
\f0c9
<template>
<Loader v-if="showLoader" />
<div id="nav" class="ms_main_wrapper">
  <div class="ms_sidemenu_wrapper" v-bind:class="{'open_menu':open_menu}">
    <div class="ms_nav_close" v-on:click="open_menu = !open_menu">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
    <div class="ms_sidemenu_inner">
      <div class="ms_nav_wrapper">
        <ul>
          <li>
            <router-link to="/" class="active" title="Descubrir">
              <span class="nav_icon">
                <i class="fa fa-th" style="font-size: 1.6em;"></i>
              </span>
              <span class="nav_text">
                Descubrir
              </span>
            </router-link>
          </li>
          <li>
            <router-link to="/" class="active" title="Descubrir">
              <span class="nav_icon">
                <i class="fa fa-heart-o" style="font-size: 1.6em;"></i>
              </span>
              <span class="nav_text">
                Favoritos
              </span>
            </router-link>
          </li>
          <li>
            <router-link to="about" title="Compras">
              <span class="nav_icon">
                <span class="icon icon_purchased"></span>
              </span>
              <span class="nav_text">
                Descargar
              </span>
            </router-link>
          </li>
          <li>
            <router-link to="/about" title="Para descargar">
              <span class="nav_icon">
                <span class="icon icon_download"></span>
              </span>
              <span class="nav_text">
                Histrial
              </span>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ms_content_wrapper padder_top80">
    <div class="ms_header">
      <div class="ms_top_left">
        <a href="/" class="ms_top_search">
          <img src="./assets/images/logo.png" style="height: 44px;" alt="" class="img-fluid" />
        </a>
      </div>
      <div class="ms_top_right">
        <div class="ms_top_btn">
          <a href="#" class="ms_btn reg_btn" v-on:click.prevent="ShowModal('#myModal')">
            <span>Registrate</span>
          </a>
          <a href="#" class="ms_btn login_btn" v-on:click.prevent="ShowModal('#myModal1')">
            <span>Ingresar</span>
          </a>
        </div>
        <div class="ms_top_search">
          <input type="text" class="form-control" placeholder="Busca tu contenido...">
          <span class="search_icon">
            <img src="@/assets/images/svg/search.svg" alt="" />
          </span>
        </div>
      </div>
    </div>
    <router-view />
  </div>
  <div class="ms_footer_wrapper">
    <!-- <div class="ms_footer_logo">
          <a href="index-2.html"><img src="images/open_logo.png" alt=""></a>
        </div> -->
    <div class="ms_footer_inner">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer_box footer_app">
            <h1 class="footer_title">Proximamente en tu tienda de aplicaciones preferida</h1>
            <!-- <h1 class="footer_title">Descarga nuestra aplicacion</h1> -->
            <!-- <p>Obten la aplicación mobil.<br> Ve tus series favoritas al alcance de tu mano. Descarga a hora !</p> -->
            <a href="#" class="foo_app_btn"><img src="@/assets/images/google_play.jpg" alt="" class="img-fluid"></a>
            <a href="#" class="foo_app_btn"><img src="@/assets/images/app_store.jpg" alt="" class="img-fluid"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="ms_copyright">
        <div class="footer_border"></div>
        <p><a target="_blank" href="">Mr Tishca</a></p>
      </div>
    </div>
  </div>
</div>

<div class="ms_register_popup">
  <div id="myModal" class="modal  centered-modal" role="dialog">
    <div class="modal-dialog register_dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <button type="button" class="close" v-on:click="ShowModal('#myModal')">
          <i class="fa_icon form_close"></i>
        </button>
        <div class="modal-body">
          <div class="ms_register_img">
            <img src="@/assets/images/register_img.png" alt="" class="img-fluid" />
          </div>
          <div class="ms_register_form">
            <h2>Register / Sign Up</h2>
            <div class="form-group">
              <input type="text" placeholder="Enter Your Name" class="form-control">
              <span class="form_icon">
                <i class="fa_icon form-user" aria-hidden="true"></i>
              </span>
            </div>
            <div class="form-group">
              <input type="text" placeholder="Enter Your Email" class="form-control">
              <span class="form_icon">
                <i class="fa_icon form-envelope" aria-hidden="true"></i>
              </span>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Enter Password" class="form-control">
              <span class="form_icon">
                <i class="fa_icon form-lock" aria-hidden="true"></i>
              </span>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Confirm Password" class="form-control">
              <span class="form_icon">
                <i class=" fa_icon form-lock" aria-hidden="true"></i>
              </span>
            </div>
            <a href="#" class="ms_btn">register now</a>
            <p>Already Have An Account? <a href="#myModal1" data-toggle="modal" class="ms_modal hideCurrentModel">login here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="myModal1" class="modal  centered-modal" role="dialog">
    <div class="modal-dialog login_dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" v-on:click="ShowModal('#myModal1')">
          <i class="fa_icon form_close"></i>
        </button>
        <div class="modal-body">
          <div class="ms_register_img">
            <img src="@/assets/images/register_img.png" alt="" class="img-fluid" />
          </div>
          <div class="ms_register_form">
            <h2>login / Sign in</h2>
            <div class="form-group">
              <input type="text" v-model="join.email" placeholder="Enter Your Email" class="form-control">
              <span class="form_icon">
                <i class="fa_icon form-envelope" aria-hidden="true"></i>
              </span>
            </div>
            <div class="form-group">
              <input type="password" v-model="join.password" placeholder="Enter Password" class="form-control">
              <span class="form_icon">
                <i class="fa_icon form-lock" aria-hidden="true"></i>
              </span>
            </div>
            <!-- <div class="remember_checkbox">
              <label>Keep me signed in
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div> -->
            <a href="" class="ms_btn" v-on:click.prevent="Login()">Ingresar</a>
            <div class="popup_forgot">
              <a href="#">o</a>
            </div>
            <a href="" class="ms_btn" target="_blank"><i class="fa fa-google"></i> login with google</a>
            <div class="popup_forgot">
              <a href="#">Forgot Password ?</a>
            </div>
            <p>Don't Have An Account? <a href="#myModal" data-toggle="modal" class="ms_modal1 hideCurrentModel">register here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script type="text/javascript">
import Loader from "@/components/Loader.vue";
import "font-awesome/scss/font-awesome.scss";
import jquery from "jquery";
export default {
  name: "nav",
  components: {
    Loader
  },
  data() {
    return {
      token:null,
      showLoader: true,
      open_menu: false,
      join: {
        email: "",
        password: ""
      },
      register: {
        name: "",
        email: "",
        password: ""
      }
    };
  },
  methods: {
    ShowModal(Modal) {
      jquery(Modal).toggle();
    },
    SetIcon(v) {
      return unescape(v)
    },
    hideLoader() {
      this.showLoader = !this.showLoader;
    },
    Login() {
      console.log(process.env.VUE_APP_ROUTE);
      jquery.post(process.env.VUE_APP_ROUTE+"/api/login", {
        "userName": this.join.email,
        "password": this.join.password
      }, function(res) {
        localStorage.name = res.token;
        console.log(res);

      });
    }
  },
  mounted() {
    setTimeout(() => {
      this.hideLoader();
    }, 1500);
  }

};
</script>
