

<template>
<div class="home">
  <!-- Start Banner -->
  <div class="ms-banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="ms_banner_img">
            <img src="@/assets/images/banner.png" alt="" class="img-fluid" style="height:500px;border-radius:10px;margin-top:15px">
          </div>
          <div class="ms_banner_text">
            <h1 class="ms_color">El ultimo cuento - Cortometraje</h1>
            <h1 style="font-size:1.5em">¡Los lamentos de un escritor!</h1>
            <p>Un afamado escritor perdio la inspiracion tras la partida de su esposa...</p>
            <div class="ms_banner_btn">
              <a href="#" class="ms_btn">Ver trailer</a>
              <a href="#" class="ms_btn">Adquirir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Banner -->

  <!-- Start Slider -->
  <div class="ms_rcnt_slider">
    <div class="ms_heading">
      <h1>Reciente mente añadidas</h1>
      <span class="veiw_all"><a href="#">Ver más</a></span>
    </div>
    <swiper :slidesPerView="fullOptions.slidesPerView" :spaceBetween="fullOptions.spaceBetween" :loop="true" :speed=1500 navigation :breakpoints="fullOptions.breakpoints">
      <swiper-slide v-for="(item,index) in 12" :key="index">
        <div class="ms_rcnt_box">
          <div class="ms_rcnt_box_img">
            <img src="@/assets/images/music/r_music1.jpg" alt="">
            <div class="ms_main_overlay">
              <div class="ms_box_overlay"></div>
              <div class="ms_more_icon">
                <img src="@/assets/images/svg/more.svg" alt="">
              </div>
              <ul class="more_option">
                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
              </ul>
              <div class="ms_play_icon">
                <img src="@/assets/images/svg/play.svg" alt="">
              </div>
            </div>
          </div>
          <div class="ms_rcnt_box_text">
            <h3><a>Dream Your Moments (Duet)</a></h3>
            <p>Ava Cornish & Brian Hill</p>
          </div>
        </div>
      </swiper-slide>
    </swiper>
  </div>
  <!-- End Slider -->



</div>
</template>

<script>
import 'swiper/swiper.scss';
import 'swiper/components/navigation/navigation.scss';
import 'swiper/components/scrollbar/scrollbar.scss';
import "@/assets/css/slider.css"
import {
  Swiper,
  SwiperSlide,
} from 'swiper/vue';

// Import Swiper styles


export default {
  name: "Home",
  components: {
    Swiper,
    SwiperSlide,
  },
  mounted() {

  },
  data() {
    return {
      fullOptions:{
          slidesPerView: 6,
          spaceBetween: 30,
          loop: true,
          speed: 1500,
          navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
          },
          breakpoints: {
              1800: {
                  slidesPerView: 6,
                  spaceBetween: 30,
              },
              1400: {
                  slidesPerView: 6,
                  spaceBetween: 30,
              },
              992: {
                  slidesPerView: 4,
                  spaceBetween: 10,
              },
              768: {
                  slidesPerView: 4,
                  spaceBetween: 10,
              },
              640: {
                  slidesPerView: 1,
                  spaceBetween: 15,
              },
              480: {
                  slidesPerView: 2,
              },
              375: {
                  slidesPerView: 1,
                  spaceBetween: 0,
              }
          },
      }

    }
  }
};
</script>
