<style media="screen">
/*-------------------------error-area start-------------------------*/

.error-area {
  padding: 50px 0px;
}

.error-wrap {
  text-align: center;
}

.error-wrap img {
  margin-bottom: 50px;
}

.error-wrap h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.error-wrap p {
  margin-bottom: 30px;
}

.error-wrap ul li {
  display: inline-block;
  margin: 0px 3px;
}

.error-wrap ul li a {
  padding: 10px 30px;
  border-radius: 5px;
  background: #993399;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  display: block;
}

.error-wrap ul li a:hover {
  background: #612261;
  color: #fff;
}


/*-------------------------error-area end-------------------------*/
</style>

<template>
<div class="about">
  <div class="error-area">
    <div class="container">
      <div class="col-xs-12">
        <div class="error-wrap">
          <img src="@/assets/images/404/404.png" height="600" width="600" alt="">
          <div class="error-wrap">
            <h3>No encontramos el contenido que buascabas...</h3>
            <h3>Pero puedes ser el primero en crearlo.</h3>
            <ul>
              <li>
                <router-link to="/"><i class="fa fa-home"></i>Regresa al inicio</router-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
